.Login-warp{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	background-color: #0f0e0e9a;
}

.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	h4{
		color: #fff;
		font-size: 22px;
		cursor: pointer;
	}
	span{
		color: #ccc;
		font-size: 14px;
		cursor: pointer;
	}
	
}